/* navbar */

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid #e5e5e5;
  background-color: white;
}

.logo-and-my-collection-button {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.marketmon-logo {
  width: 135px;
}

.my-collection-button {
  background-color: #ffc700;
  color: white;
  border: none;
  border-radius: 10px;
  width: 144px;
  height: 42px;
  font-size: 16px;
  font-weight: 600;
}

.my-collection-button:hover {
  background-color: rgb(243, 191, 0);
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 1;
  width: 100%;
  background-color: #fafafa;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 16px;
}

.magnifying-glass {
  color: #4f4f4f;
  margin-left: 10px;
  margin-right: 8px;
}

.form {
  width: 100%;
}

.search-input {
  background-color: #fafafa;
  border-style: none;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}

.search-input::placeholder {
  color: #c4c4c4;
}

.search-input:focus {
  outline: none;
}

/* Welcome Page */

.marketmon-welcome-image {
  width: 265px;
  margin-top: 30px;
}

.gray-divider {
  width: 100px;
  height: 2px;
  background-color: #e5e5e5;
  margin-top: 17px;
  margin-bottom: 17px;
}

.find-out-value {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.step-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ffc700;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 800;
  min-width: 30px;
  height: 30px;
  margin-right: 8px;
}

.steps {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}

.three-cards-container {
  display: flex;
  justify-content: center;
}

.three-cards {
  width: 345px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Search Results and My Collection Pages */

.page-heading {
  font-weight: 800;
  color: #322828;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 10px;
  padding: 0.5rem;
  max-width: 47%;
  margin-bottom: 20px;
}

.card-container > img {
  max-width: 100%;
  border-radius: 5px;
}

.card-name-search-results {
  margin-top: 10px;
  margin-bottom: 18px;
}

.set-name-search-results {
  font-size: 14px;
  font-weight: 600;
  color: #999;
  position: relative;
  bottom: 8px;
}

.card-number-search-results {
  font-size: 14px;
  font-weight: 600;
  color: #4f4f4f;
  position: relative;
  bottom: 8px;
}

.price-and-button-search-results {
  justify-content: space-between;
  align-items: center;
}

.price-type-search-results {
  font-size: 12px;
  font-weight: 600;
  color: #999;
  position: relative;
  top: 5px;
}

.market-price-search-results {
  font-weight: 700;
}

.add-button-search-results {
  width: 36px;
  height: 36px;
  border-style: solid;
  border-width: 2px;
  border-color: #e5e5e5;
  border-radius: 50%;
  background-color: white;
  font-weight: 300;
  font-size: 26px;
}

.add-button-search-results:hover {
  cursor: pointer;
  background-color: #36a0ed;
  color: white;
  border-style: none;
}

.add-button-search-results:active {
  background-color: #2b80be;
  color: white;
}

.card-container-row,
.card-container-row-collection {
  width: 100%;
  gap: 20px;
  margin-top: 24px;
}

.pokeball-no-matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

.no-cards-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

.yellow-pokeball-image {
  max-width: 70px;
  margin: 24px;
}

.no-matching-searches {
  text-align: center;
  line-height: 1.65rem;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  font-weight: 300;
  color: #4f4f4f;
}

.alert {
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  gap: 8px;
  background-color: #e3f2fd;
  color: #36a0ed;
  padding: 10px 20px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

.fa-check {
  background-color: #36a0ed;
  color: white;
  padding: 5px;
  border-radius: 50%;
}

.alert-message {
  text-wrap: nowrap;
}

.heading-and-market-value {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #322828;
}

.market-value {
  font-size: 14px;
  color: #999;
  font-weight: 500;
}

.dollars {
  font-size: 18px;
  font-weight: 700;
  color: #322828;
  margin-top: 6px;
}

/* Remove modal */

dialog {
  border-color: transparent;
  border-radius: 10px;
  text-align: center;
  text-wrap: wrap;
  max-width: 325px;
  padding: 10px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog > .text {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

dialog > .subtext {
  font-size: 14px;
  font-weight: 500;
  color: #999;
  margin-top: 5px;
}

.x-button {
  display: flex;
  justify-content: flex-end;
}

.fa-x {
  color: #999;
}

.fa-x:hover {
  color: #777;
}

.cancel-button {
  background-color: white;
  border-style: solid;
  border-color: #c4c4c4;
  border-width: 1px;
  border-radius: 10px;
  font-size: 14px;
  width: 180px;
  height: 42px;
}

.cancel-button:hover {
  background-color: #eee;
}

.confirm-remove-button {
  background-color: #e53935;
  color: white;
  border-style: none;
  border-radius: 10px;
  font-size: 14px;
  width: 180px;
  height: 42px;
}

.confirm-remove-button:hover {
  background-color: #db2f2c;
}

.modal-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  margin-top: 24px;
  margin-bottom: 14px;
}

/* card details */

.large-image-container {
  width: 100%;
  margin-bottom: 10px;
}

.large-image-container > img {
  width: 100%;
}

.x-button-card-details {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.category-value {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}

.dollar-card-details {
  font-size: 20px;
  font-weight: 700;
}

.card-details-button {
  width: 100%;
}

.card-details-button > button {
  width: 100%;
  height: 42px;
  background-color: #ffc700;
  color: white;
  border-style: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-details-button > button:hover {
  background-color: rgb(243, 191, 0);
}

/* hover states */

.marketmon-logo:hover,
.card-container:hover,
.my-collection-button:hover,
.fa-x:hover,
.cancel-button:hover,
.confirm-remove-button:hover,
.card-details-button > button:hover {
  cursor: pointer;
}

/* Media Queries */

@media screen and (width >=768px) {
  .search {
    align-items: center;
    order: 0;
    margin-top: 0;
  }

  .logo-and-my-collection-button {
    flex-wrap: nowrap;
  }

  .logo {
    margin-right: 20px;
  }

  .my-collection-button {
    width: 200px;
    margin-left: 16px;
  }

  .welcome-page {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
  }

  .welcome-page-contents {
    width: 460px;
  }

  .marketmon-welcome-image {
    width: 410px;
    margin-bottom: 10px;
  }

  .find-out-value {
    font-size: 24px;
    line-height: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
  }

  .steps {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .step-circle {
    width: 35px;
    height: 35px;
    margin-right: 12px;
  }

  .three-cards {
    position: relative;
    top: 28px;
    width: 325px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .three-cards-container {
    justify-content: start;
  }

  .page-heading-row {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .card-container {
    max-width: 23.25%;
  }

  .card-container > img {
    max-width: 100%;
  }

  dialog {
    max-width: 660px;
  }

  dialog > .text {
    font-size: 24px;
    margin-top: 26px;
    margin-bottom: 16px;
    margin-left: 65px;
    margin-right: 65px;
  }

  dialog > .subtext {
    font-size: 16px;
  }

  .confirm-remove-button {
    font-size: 16px;
    width: 300px;
    height: 54px;
  }

  .cancel-button {
    font-size: 16px;
    width: 300px;
    height: 54px;
  }

  .modal-actions {
    height: 120px;
    margin-bottom: 26px;
  }

  .heading-and-market-value {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .market-value {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .card-container-row-collection {
    margin-top: 10px;
  }

  .image-and-details {
    display: flex;
    flex-direction: row;
  }

  .large-image-container {
    width: 50%;
    padding-right: 75px;
  }

  .card-detail-text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10px;
  }

  .card-detail-text-info > h1 {
    margin-top: 0;
  }

  .card-details-button > button {
    margin-bottom: 0;
    width: 250px;
  }

  .category {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }

  .category-value {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
  }
}
